<%= provide :title, "Edit User Information" %>
<section class="hero is-white is-fullheight">
  <div class="hero-body">
    <div class="container has-text-centered">
      <div class="column is-4 is-offset-4">
        <h3 class="title has-text-black">パスワード変更</h3>
        <hr class="login-hr">
        <div class="box">
          <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
            <%= render "devise/shared/error_messages", resource: resource %>
            <div class="field">
              <%= f.label :email %>
              <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
            </div>
            <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
              <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
            <% end %>
            <div class="field">
              <%= f.label :current_password, "現在のパスワード" %>
              <%= f.password_field :current_password, autocomplete: "current-password" %>
            </div>
            <div class="field">
              <%= f.label :password, "変更後パスワード" %>
              <%= f.password_field :password, autocomplete: "new-password" %>
              <% if @minimum_password_length %>
                <em>(<%= @minimum_password_length %>文字以上)</em>
              <% end %>
            </div>
            <div class="field">
              <%= f.label :password_confirmation %>
              <%= f.password_field :password_confirmation, autocomplete: "new-password" %>
              <% if @minimum_password_length %>
                <em>(<%= @minimum_password_length %>文字以上)</em>
              <% end %>
            </div>
            <div class="actions">
              <%= f.submit "パスワードを変更する", class: "button is-info" %>
            </div>
          <% end %>
        </div>
        <br />
        <h3 class="title has-text-black">退会をご希望の方</h3>
        <hr class="login-hr">
        <div class="box">
　        <%= button_to "アカウントを削除する", registration_path(resource_name), data: { confirm: "アカウントを削除して良いですか?" }, method: :delete %>
　        <%= link_to "戻る", :back %>
        </div>
      </div>
    </div>
  </div>
</section>
