<%= provide :title, "Reservation" %>
<section class="hero is-white is-fullheight">
  <div class="hero-body">
    <div class="container has-text-centered">
      <div class="column is-4 is-offset-4">
        <h3 class="title has-text-black">予約フォーム</h3>
        <hr class="login-hr">
        <div class="box">
          <%= form_for [@bike, @bike.reservations.new] do |f| %>
            <%= f.hidden_field :bike_id, value: @bike.id %>
            <%= f.hidden_field :user_id, value: current_user.id %>
            <%= f.hidden_field :price, value: @bike.price %>
            <div class="col-md-6">
              <label>開始日</label>
              <%= raw sprintf(f.date_select(:start_date, start_year: Time.now.year ,use_two_digit_numbers: true, date_separator: '%s'), '年','月')+'日'%>
            </div>
            <div class="col-md-6">
              <label>終了日</label>
              <%= raw sprintf(f.date_select(:end_date, start_year: Time.now.year ,use_two_digit_numbers: true, date_separator: '%s'), '年','月')+'日'%>
            </div>
            <br>
            <%= f.submit "予約リクエストを送信", class: "button is-info" %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</section>
