<%= provide :title, "Edit" %>
<section class="hero is-white is-fullheight">
  <div class="hero-body">
    <div class="container has-text-centered">
      <div class="column is-4 is-offset-4">
        <h3 class="title has-text-black">バイク情報編集</h3>
        <hr class="login-hr">
        <p class="subtitle has-text-black">バイク情報を入力してください</p>
        <div class="box">
          <%= form_for @bike, url: bike_path(@bike) do |f| %>
          <%= f.hidden_field :owner_id, value: current_user.id %>
            <p>メーカー</p>
            <p><%= f.collection_select :manufacture_id, @manufactures, :id, :name, prompt: true %></p>
            <p>バイク名</p>
            <p><%= f.text_field :name %></p>
            <p>ボディタイプ</p>
            <p><%= f.collection_select :bodytype_id, @bodytypes, :id, :name, prompt: true %></p>
            <p>排気量</p>
            <p><%= f.text_field :displacement %></p>
            <p>年式</p>
            <p><%= f.text_field :year %>年</p>
            <p>走行距離</p>
            <p><%= f.text_field :mileage %>km</p>
            <p>都道府県</p>
            <p><%= f.collection_select :prefecture_id, @prefectures, :id, :name, prompt: true %></p>
            <p>料金</p>
            <p><%= f.text_field :price %>円/日</p>
            <p>補足説明</p>
            <p><%= f.text_area :description %></p>
            <p>バイク画像アップロード</p>
            <%= f.fields_for :images, multiple: true do |i| %>
              <%= i.file_field :image, multiple: true, type: 'file', name: "[image][]" %>
              <%= f.submit %>
            <% end %>
            <p><%= f.submit "バイク情報を変更する", class: "button is-info" %></p>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</section>
