<%= provide :title, "Home" %>
<section class="hero">
  <figure class="image">
    <%= image_tag("home.jpg") %>
  </figure>
</section>
<section class="section">
  <div class="container has-text-centered">
    <h2 class="title">バイク検索</h2>
  </div>
</section>
<section class="container">
  <div class="columns features">
    <div class="column is-4">
      <%= link_to prefectures_path do %>
        <div class="card is-shady has-background-grey-lighter">
          <div class="card-content">
            <div class="content has-text-centered">
              <h2>場所から探す</h2>
            </div>
          </div>
        </div>
      <% end %>
    </div>
    <div class="column is-4">
      <%= link_to manufactures_path do %>
        <div class="card is-shady has-background-grey-lighter">
          <div class="card-content">
            <div class="content has-text-centered">
              <h2>メーカーから探す</h2>
            </div>
          </div>
        </div>
      <% end %>
    </div>
    <div class="column is-4">
      <%= link_to bodytypes_path do %>
        <div class="card is-shady has-background-grey-lighter">
          <div class="card-content">
            <div class="content has-text-centered">
              <h2>ボディタイプから探す</h2>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  </div>
  <hr class="login-hr">
  <div class="sandbox">
    <div class="tile is-ancestor">
      <div class="tile is-parent is-shady has-text-centered">
        <%= link_to '' do %>
          <article class="tile is-child notification is-white">
            <h2 class="title">人気バイク</h2>
            <%= image_tag("popular_bike.jpg") %>
          </article>
        <% end %>
      </div>
      <div class="tile is-parent is-shady has-text-centered">
        <%= link_to '' do %>
          <article class="tile is-child notification is-white">
            <h2 class="title">新着バイク</h2>
            <%= image_tag("new_arrival_bike.jpg") %>
          </article>
        <% end %>
      </div>
      <div class="tile is-parent is-shady has-text-centered">
        <%= link_to '' do %>
          <article class="tile is-child notification is-white">
            <h2 class="title">旧車バイク</h2>
            <%= image_tag("old_bike.jpg") %>
          </article>
        <% end %>
      </div>
    </div>
  </div>
</section>
<section class="section">
  <%= link_to new_bike_path do %>
    <div class="container has-text-centered">
      <button class="button is-info is-large">バイク登録はこちら！</button>
    </div>
  <% end %>
</section>
