<p>ようこそ！Anyrideへ</p>
<p>バイク画像</p>
<p><%= link_to '場所から探す', prefectures_path %></p>
<p><%= link_to 'メーカーから探す', manufactures_path %></p>
<p><%= link_to 'ボディタイプから探す', bodytypes_path %></p>
<p><%= link_to '人気バイク' %></p>
<p><%= link_to '新着バイク' %></p>
<p><%= link_to '旧車バイク' %></p>
<p><%= link_to 'バイク登録はこちら', new_bike_path %></p>
