<%= provide :title, "Bike Information" %>
<section class="section has-text-centered">
  <h3 class="title is-2">バイク情報</h3>
  <hr>
</section>
<section class="container">
  <div class="column is-offset-one-quarter">
    <h3 class="title is-2"><%= @bike.manufacture.name %> <%= @bike.name %></h3>
  </div>
  <div class="column is-offset-one-quarter">
    <% unless current_user.blank? %>
      <% if current_user.check(@bike) %>
        <%= form_with model: current_user.favorites.find_by(bike_id: @bike.id), local: true, method: :delete do |f| %>
          <%= hidden_field_tag :bike_id, @bike.id %>
          <%= f.submit 'お気に入り解除', class: "button is-success" %>
        <% end %>
      <% else %>
        <%= form_with model: current_user.favorites.build, local: true do |f| %>
          <%= hidden_field_tag :bike_id, @bike.id %>
          <%= f.submit 'お気に入り登録', class: "button is-success" %>
        <% end %>
      <% end %>
    <% end %>
    <h2>お気に入り<%= @bike.favorites.count %>件</h2>
  </div>
  <div class="column is-half is-offset-one-quarter">
    <figure class="image">
      <% @bike.images.each do |image| %>
        <%= image_tag image.image.url %>
        <hr>
      <% end %>
    </figure>
  </div>
  <div class="column has-text-left is-offset-one-quarter">
    <h2><%= @bike.prefecture.name %></h2>
    <h2>年式：<%= @bike.year %>年</h2>
    <h2>走行距離：<%= @bike.mileage %>km</h2>
    <h2>排気量：<%= @bike.displacement %>cc</h2>
    <h2>料金：<%= @bike.price %>円/日</h2>
    <h2>オーナー：<%= @user.nickname %>さん</h2>
    <h2>バイク説明：<%= @bike.description %></h2>
  </div>
</section>
<section class="section">
  <%= link_to '' do %>
    <div class="container has-text-centered">
      <button class="button is-info is-large">予約する</button>
    </div>
  <% end %>
</section>
