<h1>"<%= @manufacture.name %>"のバイク一覧</h1>
<% @bikes_of_manufacture.each do |bike| %>
<%= link_to bike_path(bike.id) do %>
<p>お気に入り件数(◯件)</p>
<p>バイク画像</p>
<p><%= bike.name %></p>
<p><%= bike.price %>円/日</p>
<p><%= @manufacture.name %></p>
<% end %>
<% end %>
