<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Anyride</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.8.0/css/bulma.min.css">
    <script defer src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script>
  </head>

  <body>
    <section class="section">
      <div class="container">
        <header>
          <nav>
            <% if user_signed_in? %>
              <strong><%= link_to current_user.nickname, edit_user_registration_path %></strong>
              <%= link_to 'ログアウト', destroy_user_session_path, method: :delete %>
            <% else %>
              <%= link_to 'サインアップ', new_user_registration_path %>
              <%= link_to 'ログイン', new_user_session_path %>
              <% end %>
          </nav>
        </header>
        <p class="notice"><%= notice %></p>
        <p class="alert"><%= alert %></p>
        <%= yield %>
        <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
      </div>
    </section>
  </body>
</html>
